# wifi-connect service for systemd

[Unit]
Description=WiFi Connect
Documentation=https://github.com/balena-os/wifi-connect
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/local/sbin/run_wifi-connect.sh
SyslogIdentifier=run_wifi-connect
Type=simple
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target
