# Ansible defaults for AryaOS (pi-gen stages/ double as roles).
#
# SPDX-License-Identifier: Apache-2.0
# Copyright Sensors & Signals LLC https://www.snstac.com

[defaults]
roles_path = ./stages
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
