# AryaOS dump1090-fa.service
# dump1090-fa service for systemd

[Unit]
Description=dump1090-fa ADS-B receiver
Documentation=https://flightaware.com/adsb/piaware/
PartOf=AryaAir.service
After=AryaAir.service

[Service]
User=dump1090
RuntimeDirectory=dump1090-fa
RuntimeDirectoryMode=0755
ExecStart=/usr/share/dump1090-fa/start-dump1090-fa --write-json %t/dump1090-fa
SyslogIdentifier=dump1090-fa
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
Nice=-5

[Install]
WantedBy=AryaAir.target