# AryaOS readsb.service
# readsb service for systemd

[Unit]
Description=readsb ADS-B receiver
Documentation=https://github.com/wiedehopf/readsb
PartOf=AryaAir.service
After=AryaAir.service

[Service]
# EnvironmentFile=/etc/default/readsb
User=readsb
RuntimeDirectory=adsb
RuntimeDirectoryMode=0755
ExecStart=/usr/local/sbin/run_readsb.sh
Type=simple
Type=simple
Restart=always
RestartSec=15
StartLimitInterval=1
StartLimitBurst=100
Nice=-5

[Install]
WantedBy=AryaAir.service